/* Navigation Flexbox */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0; /*30px vertical padding */
}

/* Div containers */

#mainBody {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin-bottom: 50px;  /*100px gap and 50px bottom margin */
}

#leftContainer, #rightContainer {
    flex: 1;
}

#rightContainer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: repeat(3, 160px);
    gap: 10px; 
}
/* First column is twice the width of other 2 column. Spaces as required */