/* Desktop */

/* Navigation Flexbox */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;  /* push nav to right */
    padding: 30px 0; /* 30px vertical padding */
}

/* Div containers */

#mainBody {
    max-width: 1200px; 
    margin: 0 auto;
    display: flex;
    gap: 100px;
    margin-bottom: 50px;
}

#leftContainer, #rightContainer {
    height: 480px; /* equal height */
    flex: 1; /* equal width */
}

#rightContainer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr; /* left big column, 2 smaller columns on right */
    grid-template-rows: repeat(3, 160px);
    gap: 10px;
}

/* Image Arrangement 1 and 6 ratio */
.gridImage.zero {
    grid-column: 1 / 2; /* first column */
    grid-row: 1 / 4;    /* span all 3 rows */
}


/* Tablet Responsiveness */

@media (max-width: 1000px) {
    body {
        width: 60%;
    }

    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    #mainBody {
        flex-direction: column;
        gap: 40px;
    }

    #leftContainer,
    #rightContainer {
        height: auto;
    }

    #rightContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 160px);
    }

    .display_md {
        display: none;
    }
}

/* Mobile Responsiveness */

@media (max-width: 570px) {
    body {
        width: 80%;
    }

    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }
}